<section class="bio" itemscope itemtype="http://microformats.org/profile/hcard">
	<h2 class="bio__author">
		<span class="bio__author__name" itemprop="fn">David O'Trakoun</span>
	</h2>
	<div class="bio__avatar">
		<img alt="Avatar" src="https://secure.gravatar.com/avatar/059a1d904137522399604e0d6a83a10c" itemprop="photo">
	</div>
	<ul class="bio__links">
		<li><a href="https://github.com/davidosomething" class="icon-github" itemprop="url"><span>GitHub</span></a></li>
		<li><a href="https://twitter.com/davidosomething" class="icon-twitter" itemprop="url"><span>Twitter</span></a></li>
		<li><a href="https://www.linkedin.com/in/davidosomething/" class="icon-linkedin" itemprop="url"><span>LinkedIn</span></a></li>
	</ul>
</section>
