<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>davidosomething.com</title>

<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,700,700italic,900">
<link rel="stylesheet" href="/assets/css/global.css">

<script src="/assets/js/dist/global.js" async></script>
</head>
