{{> header }}
<body class="home">
	{{> siteHeader }}
	<div class="globalBody">
		<header class="globalHeader">{{> bio }}</header>
		<div class="globalContent">
			<main class="globalDiv">
				<header class="pageHeader">
					<h1 class="pageHeader__title">Latest Posts</h1>
				</header>

				{{#each collections.posts}}
					<article class="article article--excerpt" itemscope itemtype="http://schema.org/Article">
						<header class="article__header">
							<section class="article__meta">
								<time datetime="2015-05-16 19:00">November 12, 2015</time>
								{{> article__tags }}
							</section>

							<h1 class="article__title"><a class="article__header__permalink" href="#" rel="bookmark">{{{ title }}}</a></h1>

							<h2 class="article__subtitle">First very long Article title goes here in the extremely lengthy words</h2>
						</header>

						<section class="article__body">
							{{{ excerpt }}}
						</section>
					</article>
				{{/each}}
			</main>
			{{> nav }}
		</div>
		{{> siteFooter }}
	</div>
	{{> footer }}
</body>
</html>
