{{> header }}
<body class="post">
	{{> siteHeader }}
	<div class="globalBody">
		<header class="globalHeader">{{> bio }}</header>
		<div class="globalContent">
			<main class="globalDiv">
				<article class="article" itemscope itemtype="http://schema.org/Article">

					<header class="article__header">
						<section class="article__meta">
							<time datetime="2015-05-16 19:00">November 12, 2015</time>
							{{> article__tags }}
						</section>

						<h1 class="article__title"><a class="article__header__permalink" href="#" rel="bookmark">{{{ title }}}</a></h1>

						<h2 class="article__subtitle">First very long Article title goes here in the extremely lengthy words</h2>
					</header>

					<section class="article__body">
						{{{ contents }}}
					</section>

					<footer class="article__footer">
						{{> comments }}
					</footer>

				</article>
			</main>
			{{> nav }}
		</div>
		{{> siteFooter }}
	</div>
	{{> footer }}
</body>
</html>
