{{> header }}
<body class="post">
	{{> siteHeader }}
	<div class="globalBody">
		<header class="globalHeader">{{> bio }}</header>
		<div class="globalContent">
			<main class="globalDiv">
				<article class="article article--excerpt" itemscope itemtype="http://schema.org/Article">

					<header class="article__header">
						<section class="article__meta">
							<time datetime="2015-05-16 19:00">November 12, 2015</time>
							<ul class="article__tags">
								{{#each tags}}<li><a href="#" class="article__tag">{{tag}}</a></li>{{/each}}
							</ul>
						</section>

						<h3 class="article__title"><a class="article__header__permalink" href="#" rel="bookmark">{{{ title }}}</a></h3>

						<h4 class="article__subtitle">First very long Article title goes here in the extremely lengthy words</h4>
					</header>

					<section class="article__body">
						{{{ contents }}}
					</section>

					<footer class="article__footer">
					</footer>

				</article>
			</main>
			{{> nav }}
		</div>
		{{> siteFooter }}
	</div>
</body>
</html>
