{{! About Me widget }}
<aside class="widget widget--aboutMe">
	<header class="widget__header">
		<h2 class="widget__header__title">About me</h2>
	</header>
	<article>
		<p>I'm a web developer in NYC. I primarly work in JavaScript and PHP,
		and sometimes Python, shell, and Lua. I'm a Vim and GNU/Linux user.</p>
		<p>I am currently Senior Frontend Developer at Elite Daily (yes, that
		one). I previously held similar roles at Time Inc., Arnold NYC, and
		Arnold Worldwide.<br>
		I was an Adjunct Instructor at Boston University CDIA for a while,
		where I taught web development and WordPress stuff.<br>
		I used to freelance regularly, but now I prefer tinkering with open
		source.
		</p>
	</article>
</aside>
