{{! 10 latest posts widgets }}
<aside class="widget widget--allPosts mq--large">
	<header class="widget__header">
		<h2 class="widget__title">All Posts</h2>
	</header>
	<div class="widget__body">
		<ol class="widget__postlist">
			{{#each collections.posts}}<li>{{> articleTile}}</li>{{/each}}
		</ol>
	</div>
</aside>
