{{! JSDoc Meta widget }}
<aside class="widget widget--jsdocMeta">
	<header class="widget__header">
		<h2 class="widget__title">JSDoc</h2>
	</header>
	<div class="widget__body">
		<ul class="widget__postlist">
			<li>
				<article class="articleTile articleTile--titleOnly">
					<h2><a href="/docs/jsdoc">Index</a></h2>
				</article>
			</li>
		</ul>
	</div>
</aside>
