{{! 10 latest posts widget }}
<aside class="widget widget--latestPosts mq--large">
	<header class="widget__header">
		<h2 class="widget__title">Latest Posts</h2>
	</header>
	<div class="widget__body">
		<ol class="widget__postlist">
			{{#each collections.latestPosts}}<li>{{> articleTile}}</li>{{/each}}
		</ol>
	</div>
</aside>
