{{! tags widget }}
<aside class="widget widget--tags mq--large">
	<header class="widget__header">
		<h2 class="widget__title">Tags</h2>
	</header>
	<div class="widget__body">
		<ul class="widget__taglist">
			{{#each groupedPages.tags as |tag|}}
				<li><a href="{{tag.permalink}}">{{tag.groupedPage.name}}</a> ({{tag.groupedPage.files.length}})</li>
			{{/each}}
		</ul>
	</div>
</aside>
