{{! Table of Contents widget }}
<aside class="widget widget--toc">
	<header class="widget__header">
		<h2 class="widget__header__title">Contents</h2>
	</header>
	<ol class="widget--latestPosts__postlist">
		{{#each headings}}<li>{{ text }}</li>{{/each}}
	</ol>
</aside>
