{{! Table of Contents widget }}
<aside class="widget widget--toc">
	<header class="widget__header">
		<h2 class="widget__title">Contents</h2>
	</header>
	<section class="widget__body">
		<ol class="widget__postlist">
			{{#each headings}}<li>{{ text }}</li>{{/each}}
		</ol>
	</section>
</aside>
