// =============================================================================
// global.scss
// =============================================================================

// =============================================================================
// colors
// =============================================================================

$primary-bg: #222;
$primary-text: #f0f0f0;

body {
  background: $primary-bg;
  color: $primary-text;
}

