////
/// global.scss
//
/// Global styles for davidosomething.com
///
/// @author David O'Trakoun <me@davidosomething.com>
////

@import 'vendor/higlightjs.scss';

// =============================================================================
// Config
// =============================================================================

// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------

$colors: (
  primary-bg:          #fafaf4,
  primary-text:        #3f3a30,
  primary-link:        #38b,
  primary-link--hover: #c46,
  primary-divider:     #ddd,

  tertiary-bg:         #e0f0ff,
  tertiary-text:       #988,

  code-bg:    #efe,
  code-text:  #344,

  globalSiteTitle-bg:   rgba(0,0,0,0.65),
  globalSiteTitle-text: #fff,

  avatar-bg: rgba(255,255,255,0.75),
);


// -----------------------------------------------------------------------------
// Media Queries
// -----------------------------------------------------------------------------
//
// # Scale
//
$breakpoints: (
  small:   480px,
  medium:  640px,
  middle:  768px,
  large:   1024px,
  xlarge:  1368px,
  xxlarge: 1650px,
);

@mixin mq($min: null, $max: null) {
  $mq: 'screen';

  @if $min {
    $min-breakpoint: map-get($breakpoints, $min);
    $mq: '#{$mq} and (min-width: #{$min-breakpoint})';
  }

  @if $max {
    $max-breakpoint: (map-get($breakpoints, $max) / 1px - 1) * 1px;
    $mq: '#{$mq} and (max-width: #{$max-breakpoint})';
  }

  @media #{$mq} { @content; }
}

// Hide below large, flexbox compatible
.mq--large {
  @include mq(null, 'large') {
    height: 0 !important;
    margin: 0 !important;
    overflow: hidden !important;
    visibility: hidden !important;
  }
}


// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------

$max-line-width: 46em;

// Font - Typeface
$typeface__heading:        'Source Sans Pro';
$typeface__body:           $typeface__heading;
$typeface__body--fallback: sans-serif;

// Font - Weights
$fontweight__body:    300;
$fontweight__link:    600;
$fontweight__heading: 900;

// Font - Sizes
$fontsizes: (
  default: (
    globalSiteTitle: 0.66rem,
    bio__author:     1.4rem,
    bio__links:      2rem,
    h1: 1.6em,
    h2: 1.5em,
    h3: 1.2em,
    h4: 1.1em,
    nav:             1em,
    postlist:        0.66em,
    article__meta:   0.66em,
    article__body:   0.94em,
    footer:          0.8em,
  ),
  small: (
    bio__author:     2rem,
    h1: 2.4em,
    h2: 2em,
    h3: 1.8em,
    h4: 1.5em,
    article__body: 1em,
  ),
  medium: (
  ),
  middle: (
    bio__author: 2.8rem,
  ),
  large: (
    body: 1.1em,
    nav:  0.8em,
  ),
  xlarge: (
    body: 1.2em,
    nav:  1em,
  ),
  xxlarge: (
    body: 1.3em,
  )
);

@mixin bpfs($breakpoint, $size) {
  $fontsizes-for-breakpoint: map-get($fontsizes, $breakpoint);
  @if $fontsizes-for-breakpoint {
    $fontsize: map-get($fontsizes-for-breakpoint, $size);
    font-size: $fontsize;
  }
}

@mixin fs($el) {
  @include bpfs('default', $el);
  @include mq('small') { @include bpfs('small', $el); }
  @include mq('medium') { @include bpfs('medium', $el); }
  @include mq('middle') { @include bpfs('middle', $el); }
  @include mq('large') { @include bpfs('large', $el); }
  @include mq('xlarge') { @include bpfs('xlarge', $el); }
  @include mq('xxlarge') { @include bpfs('xxlarge', $el); }
}


// -----------------------------------------------------------------------------
// Z-Indices
// -----------------------------------------------------------------------------

$z: (
  siteHeader: 1,
);


// =============================================================================
// Icons
// =============================================================================

@font-face {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/icomoon.ttf?vj028t') format('truetype');
}

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.icon-linkedin-with-circle::before { content: '\e900'; }
.icon-twitter-with-circle::before { content: '\e902'; }
.icon-google-plus3::before { content: '\e903'; }
.icon-github::before { content: '\e901'; }

// -----------------------------------------------------------------------------
// Icon before element
// -----------------------------------------------------------------------------

@mixin icon-before {
  position: relative;

  &::before {
    display: inline-block;
    font-family: Apple Garamond, Arial, Liberation Sans;
    font-weight: normal;
    position: absolute;
  }
}

@mixin link-icon-before {
  @include icon-before;

  &::before {
    content: '\1F517';
    font-size: 1em;
    left: -1.2em;
    line-height: 1.2;
    opacity: 0.1;
  }

  &:hover::before {
    opacity: 0.5;
  }
}


// =============================================================================
// Base styles
// =============================================================================

body {
  @include fs('body');
  background: map-get($colors, 'primary-bg');
  color: map-get($colors, 'primary-text');
  font-family: $typeface__body, $typeface__body--fallback;
  font-weight: $fontweight__body;
}

a {
  color: map-get($colors, 'primary-link');
  font-weight: $fontweight__link;
  text-decoration: none;

  &:hover {
    color: map-get($colors, 'primary-link--hover');
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $fontweight__heading;
  line-height: 1;
}

p {
  margin: 0 0 0.5em;
}

code,
kbd,
samp,
var {
  background: map-get($colors, 'code-bg');
  color: map-get($colors, 'code-text');
  font-family: Menlo, Monaco, Consolas, 'DejaVu Sans', monospace;
  font-size: 0.8em;
  font-style: normal;
  padding: 0 0.2em;
}

code {
  background: inherit;
}

pre {
  border: 1px solid map-get($colors, 'primary-divider');
  margin: 1em 0;
}

hr {
  border: 0;
  border-top: 2px solid map-get($colors, 'primary-divider');
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}

%globalBorder {
  border-top: 1px map-get($colors, 'primary-divider') solid;
}


// =============================================================================
// Site Header
// =============================================================================

.siteHeader {
  @include fs('globalSiteTitle');
  background: map-get($colors, 'globalSiteTitle-bg');
  color: map-get($colors, 'globalSiteTitle-text');
  left: 0;
  letter-spacing: 0.1em;
  line-height: 1;
  margin: 0;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  z-index: map-get($z, 'siteHeader');
}

.siteHeader__title {
  margin: 0 1.5rem;
  overflow: hidden;
  padding: 0.5rem 0;
  white-space: nowrap;

  > * {
    color: inherit;
    display: inline-block;
    font-weight: $fontweight__body;
    vertical-align: middle;

    &:hover {
      color: lighten(map-get($colors, 'primary-link--hover'), 20%);
    }
  }
}

.siteHeader__siteName {
  margin-right: 1em;

  // Home icon
  &::before {
    content: '\2302';
    float: left;
    font-size: 1.5em;
    line-height: 0.5em;
    margin-right: 0.4em;
  }
}

.siteHeader__pageTitle {
  margin: 0 1em;
}


// =============================================================================
// Global Header
// =============================================================================

.globalHeader {
  background-color: map-get($colors, 'primary-text');
  background-image: url('http://davidosomething.com/content/themes/crass/assets/img/bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20rem 0 1rem; // room for fixed position siteHeader

  @include mq('small') { padding: 16rem 0 1rem; }
  @include mq('middle') { padding: 18rem 0.5rem 1rem; }
}

.type--post .globalHeader {
  padding: 2rem 0 1rem; // room for fixed position siteHeader
  @include mq('small') { padding: 3rem 0 1rem; }
  @include mq('middle') { padding: 6rem 0.5rem 1rem; }
}


// -----------------------------------------------------------------------------
// Global Header - Bio
// -----------------------------------------------------------------------------

.bio {
  color: map-get($colors, 'primary-bg');
  display: block;
  overflow: hidden;
  padding: 1rem 0;
  text-align: left;
  text-shadow: 0 2px 2px map-get($colors, 'primary-text');

  a {
    color: map-get($colors, 'primary-bg');
    display: inline-block;
  }
}

.bio__author {
  @include fs('bio__author');
  display: inline-block;
  line-height: 1;
  margin: 0.2em 0 0;

  @include mq('middle') {
    margin: 0;
  }
}

.bio__author__name {
  font-weight: 900;
}

.bio__avatar {
  float: left;
  margin: 0 1em;

  @include mq('small') {
    margin-top: 0.4em;
  }
}

.bio__avatar__link {
  img {
    background: map-get($colors, 'avatar-bg');
    border-radius: 3em;
    display: inline-block;
  }

  &:hover img {
    background-color: map-get($colors, 'primary-link--hover');
  }
}

.bio__links {
  @include fs('bio__links');
  margin: 0;
  order: 2;
  padding: 0;

  > li {
    display: inline-block;
    margin: 0.5rem 1rem 0 0;

    span { display: none; }
  }

  a:hover {
    color: map-get($colors, 'primary-link--hover');
  }
}


// =============================================================================
// Global Main
// =============================================================================

.pageHeader {
  margin: 0 auto;
  max-width: $max-line-width;
}

.pageHeader__title {
  @include fs('h1');
  font-weight: $fontweight__heading;
}


// =============================================================================
// Global Nav
// =============================================================================

// -----------------------------------------------------------------------------
// Widget
// -----------------------------------------------------------------------------

%widget__title {
  border-bottom: 1px map-get($colors, 'primary-divider') solid;
  display: inline-block;
  font-size: 0.8em;
  font-weight: $fontweight__body;
  margin: 0 0 1em;
  padding: 0.2em 0;
  text-transform: capitalize;
}



.widget {
  @include fs('nav');
  margin: 0 0 3rem;
  max-width: $max-line-width / 2;

  @include mq('large') {
    opacity: 0.5;
    transition: opacity 0.2s;

    &:hover { opacity: 1; }
  }

  > .widget__header > .widget__header__title {
    @extend %widget__title;
  }
}

.widget__postlist {
  @include fs('postlist');
  list-style: none;
  margin: 0;
  padding: 0;
}


// =============================================================================
// Global Footer
// =============================================================================

.globalFooter {
  @include fs('footer');
  background-color: map-get($colors, 'primary-text');
  background-image: url('http://davidosomething.com/content/themes/crass/assets/img/bg.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  color: map-get($colors, 'primary-bg');
  padding: 4em 0;
  text-align: center;
}


// =============================================================================
// Global layout
// =============================================================================

.globalContent {
  clear: both;
}

.globalDiv {
  margin: 0 1.5rem;
  padding: 1rem 0;

  @include mq('small') {
    margin: 0 2rem;
    padding: 2rem 0;
  }

  @include mq('large') {
    padding: 3rem 0;
  }

  @include mq('xlarge') {
    margin: 0 3rem;
    padding: 3rem 0;
  }
}


// -----------------------------------------------------------------------------
// Layout: nav as grid
// -----------------------------------------------------------------------------

@include mq('small', 'large') {
  .globalNav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: $max-line-width;
    padding: 2rem;
  }

  .globalNav > .widget {
    flex-basis: 48%;
    flex-grow: 1;
    margin-left: 1%;
    margin-right: 1%;
  }
}

// -----------------------------------------------------------------------------
// Layout: nav as sidebar
// -----------------------------------------------------------------------------

@mixin navLeft {
  main { order: 2; }
}

@mixin navRight {
}

@include mq('large') {
  @include navLeft;


  // two column layout
  .globalContent {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }

  main {
    flex-basis: 40rem;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .globalNav {
    border-top: 0;
    flex-basis: 16rem;
    flex-grow: 1; // let this go up to its basis size
    flex-shrink: 1; // let this shrink down to 1/2th of .globalContent
  }
}


// =============================================================================
// Article
// =============================================================================

.article {
  margin: 3rem auto 6em;
  max-width: 40em;

  &:first-child {
    margin-top: 0;
  }
}


// -----------------------------------------------------------------------------
// Article Parts
// -----------------------------------------------------------------------------

.article__tags {
  margin: 0;
  text-align: right;
}

.article__tag {
  color: inherit;
  display: inline-block;
  font-weight: $fontweight__body;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  &:hover {
    color: map-get($colors, 'primary-link--hover');
  }

  .article__tags li:not(:last-child) &::after {
    content: ',';
  }
}


// -----------------------------------------------------------------------------
// Article divisions and per-division Article Parts overrides
// -----------------------------------------------------------------------------

.article__header {
  margin-bottom: 0.5em;
  position: relative;

  > .article__title {
    @include fs('h2');
    margin: 0 0 0.2em;
  }

  > .article__subheader {
    @include fs('h4');
    color: lighten(map-get($colors, 'primary-text'), 40%);
    margin: 0 0 0.2em;
  }

  > .article__meta {
    @include fs('article__meta');
    align-items: flex-start;
    color: map-get($colors, 'tertiary-text');
    display: flex;
    justify-content: space-between;
    margin: 0.2em 0;

    time {
      border: 1px transparent solid;
      display: inline-block;
      white-space: nowrap;
    }

    .article__tags {
      display: none;

      @include mq('medium') {
        display: inline-block;
        list-style: none;
        vertical-align: middle;

        > li {
          display: inline-block;
        }
      }
    }
  }
}

.article__header__link {
  color: inherit;
  font-weight: 900;
}

.article__header__link--permalink {
  @include link-icon-before;
}

.article__body {
  @include fs('article__body');
  line-height: 1.5;
  margin-left: 0.5em;

  p:first-child {
    text-indent: 2ex;
  }

  ol,
  ul {
    padding-left: 0;
  }

  li ol,
  li ul {
    padding-left: 1.2em;
  }
}

.article__footer {
  border-bottom: 1px map-get($colors, 'primary-divider') solid;
  margin-top: 6em;

  .article:last-child & {
    border-bottom: 0;
  }
}


// -----------------------------------------------------------------------------
// Article Variants and per-variant overrides
// -----------------------------------------------------------------------------

.article--excerpt .article__body {
  height: 5 * 1.5em; // # of lines x .article__body line-height
  overflow: hidden;
  position: relative;
}


// -----------------------------------------------------------------------------
// ArticleTile
// -----------------------------------------------------------------------------

.articleTile {
  margin: 0.5em 0 2em;

  > h2 {
    margin: 0 0 0.2em;
  }
}


// =============================================================================
// Post
// =============================================================================

.section--blog {
  .article__header {
    > .article__title {
      @include fs('h1');
    }

    > .article__subheader {
      @include fs('h3');
    }
  }
}

