////
/// global.scss
///
/// Global styles for davidosomething.com
///
/// @author David O'Trakoun <me@davidosomething.com>
////

@import 'normalize/_import-now';

/*! npm:highlightjs-themes/solarized-light.css */
@import 'highlightjs-themes/solarized-light';

/*! global.scss */

// =============================================================================
// Config
// =============================================================================

// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------

/// @group colors
$colors: (
  primary-bg:            #fafaf4,
  primary-text:          #3f3a30,
  primary-aside:         #988,
  primary-link:          #27a,
  primary-link--hover:   #38b,
  primary-divider:       #eee,

  secondary-link:        #38b,
  secondary-link--hover: #c46,

  code-bg:               #efe,
  code-text:             #344,

  globalSiteTitle-bg:   rgba(0,0,0,0.65),
  globalSiteTitle-text: #fff,

  avatar-bg: rgba(255,255,255,0.75),
);


// -----------------------------------------------------------------------------
// Media Queries
// -----------------------------------------------------------------------------

/// @group media
$breakpoints: (
  small:   480px,
  medium:  640px,
  middle:  768px,
  large:   1024px,
  xlarge:  1368px,
  xxlarge: 1650px,
);

/// Media-query mixin
///
/// @group media
/// @content Rules to apply when within media-query parameters
/// @param {null|string} $min [null] - min-width
/// @param {null|string} $max [null] - max-width
@mixin mq($min: null, $max: null) {
  $mq: 'screen';

  @if $min {
    $min-breakpoint: map-get($breakpoints, $min);
    $mq: '#{$mq} and (min-width: #{$min-breakpoint})';
  }

  @if $max {
    $max-breakpoint: (map-get($breakpoints, $max) / 1px - 1) * 1px;
    $mq: '#{$mq} and (max-width: #{$max-breakpoint})';
  }

  @media #{$mq} { @content; }
}

/// Hide below large, flexbox compatible
/// @group media
.mq--large {
  @include mq(null, 'large') {
    body & {
      height: 0;
      margin: 0;
      overflow: hidden;
      visibility: hidden;
    }
  }
}


// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------

/// Width of header before wrapping
/// @group typography
/// @type FontSize
$readable-header-width: 48rem;

/// Width of body content before wrapping
/// @group typography
/// @type FontSize
$readable-body-width: 40em;

//
// Font - Typeface
//

/// Typeface for heading
/// @group typography
/// @type FontFamily
$typeface__heading:        'Source Sans Pro';

/// Typeface for body
/// @group typography
/// @type FontFamily
$typeface__body:           $typeface__heading;

/// Typeface for body when custom font not available
/// @group typography
/// @type FontFamily
$typeface__body--fallback: sans-serif;

//
// Font - Weights
//

/// Font weight for body copy
/// @group typography
/// @type FontWeight
$fw__body:    300;

/// Font weight for strong body copy
/// @group typography
/// @type FontWeight
$fw__strong:  600;

/// Font weight for bold body copy
/// @group typography
/// @type FontWeight
$fw__bold:    700;

/// Font weight for headings
/// @group typography
/// @type FontWeight
$fw__heading: 900;

/// Font - Sizes
/// @group typography
$fontsizes: (
  default: (
    h1: 1.5em,
    h2: 1.4em,
    h3: 1.3em,
    h4: 1.2em,
    h5: 1.2em,
    globalSiteTitle: 1rem,
    bio__author:     1.4rem,
    bio__links:      1.6rem,
    nav:             1em,
    postlist:        0.66em,
    article__meta:   0.66em,
    article__body:   0.94em,
    block:           0.88em,
    footer:          0.8em,
  ),
  small: (
    h1: 1.66em,
    h2: 1.6em,
    h3: 1.4em,
    h4: 1.3em,
    h5: 1.2em,
    bio__author:     2rem,
    bio__links:      2rem,
    article__body: 1em,
  ),
  medium: (
    h1: 2.4em,
    h2: 2em,
    h3: 1.8em,
    h4: 1.5em,
    h5: 1.2em,
  ),
  middle: (
    bio__author: 2.8rem,
  ),
  large: (
    globalSiteTitle: 0.66rem,
    body: 1.1em,
    nav:  0.8em,
  ),
  xlarge: (
    body: 1.2em,
    nav:  0.9em,
  ),
  xxlarge: (
    body: 1.3em,
  )
);

/// Helper for fs() mixin to get a fontsize for a particular breakpoint
///
/// @access private
/// @group typography
@mixin _bpfs($breakpoint, $size) {
  $fontsizes-for-breakpoint: map-get($fontsizes, $breakpoint);
  @if $fontsizes-for-breakpoint {
    $fontsize: map-get($fontsizes-for-breakpoint, $size);
    font-size: $fontsize;
  }
}

/// Named-breakpoint font-size mixin
///
/// @group typography
/// @param {string} $el target element in breakpoint to get sizes for
@mixin fs($el) {
  @include _bpfs('default', $el);
  @include mq('small') {    @include _bpfs('small', $el); }
  @include mq('medium') {   @include _bpfs('medium', $el); }
  @include mq('middle') {   @include _bpfs('middle', $el); }
  @include mq('large') {    @include _bpfs('large', $el); }
  @include mq('xlarge') {   @include _bpfs('xlarge', $el); }
  @include mq('xxlarge') {  @include _bpfs('xxlarge', $el); }
}


// -----------------------------------------------------------------------------
// Z-Indices
// -----------------------------------------------------------------------------

/// @group zindex
$z: (
  siteHeader: 1,
);


// =============================================================================
// Icons
// =============================================================================

@font-face {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/icomoon.ttf?vj028t') format('truetype');
}

body {
  [class^='icon-'],
  [class*=' icon-'] {
    font-family: 'icomoon';
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;
  }
}

.icon-linkedin-with-circle::before { content: '\e900'; }
.icon-twitter-with-circle::before { content: '\e902'; }
.icon-google-plus3::before { content: '\e903'; }
.icon-github::before { content: '\e901'; }

// -----------------------------------------------------------------------------
// Icon before element
// -----------------------------------------------------------------------------

/// @group icons
@mixin icon-before {
  position: relative;

  &::before {
    display: inline-block;
    font-family: Apple Garamond, Arial, Liberation Sans;
    font-weight: normal;
    position: absolute;
  }
}

/// @group icons
@mixin link-icon-before {
  @include icon-before;

  &::before {
    content: '\1F517';
    font-size: 1em;
    left: -1.2em;
    line-height: 1.5;
    opacity: 0.1;
  }

  &:hover::before {
    opacity: 0.5;
  }
}


// =============================================================================
// Viewport
// see http://wd.dizaina.net/en/internet-maintenance/about-viewport-at-rule/
// =============================================================================

@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}


// =============================================================================
// Base styles
// =============================================================================

body {
  @include fs('body');
  background: map-get($colors, 'primary-bg');
  color: map-get($colors, 'primary-text');
  font-family: $typeface__body, $typeface__body--fallback;
  font-weight: $fw__body;
}

strong {
  font-weight: $fw__strong;
}

b {
  font-weight: $fw__bold;
}

a {
  color: map-get($colors, 'primary-link');
  text-decoration: none;
  &:hover { color: map-get($colors, 'primary-link--hover'); }
}

%link--header {
  color: inherit;
  &:hover { color: lighten(map-get($colors, 'primary-link--hover'), 25%); }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $fw__heading;
  line-height: 1.2;
}

p {
  margin: 0 0 0.5em;
}

code,
kbd,
samp,
var {
  background: map-get($colors, 'code-bg');
  color: map-get($colors, 'code-text');
  font-family: Menlo, Monaco, Consolas, 'DejaVu Sans', monospace;
  font-size: 0.8em;
  font-style: normal;
  padding: 0 0.2em;
}

code {
  background: inherit;
}

pre {
  @include fs('block');
  border: 1px solid map-get($colors, 'primary-divider');
  margin: 1em 0;
}

hr {
  border: 0;
  border-top: 2px solid map-get($colors, 'primary-divider');
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}

blockquote {
  border-left: 0.4em darken(map-get($colors, 'primary-divider'), 2%) solid;
  margin: 1em 0;
  padding: 0.2em 0 0.2em 1em;

  p:last-child {
    margin-bottom: 0;
  }
}

table {
  @include fs('block');
  border: 1px darken(map-get($colors, 'primary-divider'), 2%) solid;
  margin: 1em 0;
  min-width: 50%;
}

th,
td {
  padding: 0.2em 0.5em;
}

th {
  background-color: map-get($colors, 'primary-divider');

  &:nth-child(even) {
    background-color: darken(map-get($colors, 'primary-divider'), 2%);
  }
}

td:nth-child(even) {
  background-color: darken(map-get($colors, 'primary-bg'), 2%);
}

tr:nth-child(even) {
  background-color: darken(map-get($colors, 'primary-bg'), 2%);

  td:nth-child(even) {
    background-color: darken(map-get($colors, 'primary-bg'), 4%);
  }
}


// =============================================================================
// Site Header
// =============================================================================

.siteHeader {
  @include fs('globalSiteTitle');
  background: map-get($colors, 'globalSiteTitle-bg');
  color: map-get($colors, 'globalSiteTitle-text');
  left: 0;
  letter-spacing: 0.1em;
  line-height: 1.2;
  margin: 0;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  z-index: map-get($z, 'siteHeader');
}

.siteHeader__title {
  margin: 0 1.5rem;
  overflow: hidden;
  padding: 0.5rem 0;
  white-space: nowrap;

  > * {
    @extend %link--header;
    display: inline-block;
    font-weight: $fw__body;
    vertical-align: middle;
  }

  a:hover {
    color: lighten(map-get($colors, 'primary-link--hover'), 25%);
  }
}

.siteHeader__siteName {
  margin-right: 1em;
  overflow: hidden;
  width: 1em;

  @include mq('small') {
    width: auto;
  }

  // Home icon
  &::before {
    content: '\2302';
    float: left;
    font-size: 1.5em;
    line-height: 0.5em;
    margin-right: 0.4em;
  }
}

.siteHeader__separator {
  display: none;

  @include mq('small') {
    display: inline-block;
  }
}

.siteHeader__pageTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;

  @include mq('small') {
    margin: 0 1em;
    width: 40%;
  }

  @include mq('medium') {
    width: 50%;
  }

  @include mq('middle') {
    width: auto;
  }
}


// =============================================================================
// Global Header
// =============================================================================

.globalHeader {
  background-color: map-get($colors, 'primary-text');
  background-image: url('/assets/img/bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20rem 0 1rem; // room for fixed position siteHeader

  @include mq('small') { padding: 16rem 0 1rem; }
  @include mq('middle') { padding: 18rem 0.5rem 1rem; }
}

body:not(.slug--home) .globalHeader {
  padding: 2rem 0 1rem; // room for fixed position siteHeader
  @include mq('small') { padding: 3rem 0 1rem; }
  @include mq('middle') { padding: 6rem 0.5rem 1rem; }
}


// -----------------------------------------------------------------------------
// Global Header - Bio
// -----------------------------------------------------------------------------

.bio {
  color: map-get($colors, 'primary-bg');
  display: block;
  overflow: hidden;
  padding: 1rem 0;
  text-align: left;
  text-shadow: 0 2px 2px map-get($colors, 'primary-text');

  a {
    @extend %link--header;
    display: inline-block;
  }
}

.bio__author {
  @include fs('bio__author');
  display: inline-block;
  line-height: 1;
  margin: 0.2em 0 0;

  @include mq('middle') {
    margin: 0;
  }
}

.bio__author__name {
  font-weight: 900;
  text-rendering: optimizeLegibility;
}

.bio__avatar {
  float: left;
  margin: 0 1em;

  @include mq('small') {
    margin-top: 0.4em;
  }
}

.bio__avatar__link {
  img {
    background: map-get($colors, 'avatar-bg');
    border-radius: 3em;
    display: inline-block;
  }

  &:hover img { background-color: lighten(map-get($colors, 'primary-link--hover'), 25%); }
}

.bio__links {
  @include fs('bio__links');
  margin: 0;
  order: 2;
  padding: 0;

  > li {
    display: inline-block;
    margin: 0.5rem 1rem 0 0;

    span { display: none; }
  }
}


// =============================================================================
// Global Main
// =============================================================================

.pageHeader {
  margin: 0 auto;

  @include mq('large') { margin: 0; }
}

.pageHeader__title {
  @include fs('h1');
  font-weight: $fw__heading;
  margin-top: 0;
  max-width: $readable-header-width;
}


// =============================================================================
// Global Nav
// =============================================================================

// -----------------------------------------------------------------------------
// Widget
// -----------------------------------------------------------------------------

.widget {
  @include fs('nav');
  margin: 0 0 3rem;

  @include mq('small') {
    max-width: $readable-body-width / 2;
  }

  @include mq('large') {
    opacity: 0.5;
    transition: opacity 0.2s;

    &:hover { opacity: 1; }
  }
}

.widget__title {
  background: map-get($colors, 'primary-divider');
  display: inline-block;
  font-size: 0.8em;
  margin: 0 0 1em;
  padding: 0.5em 1em;
}

.widget__body {
  margin: 0 0 0 0.5em;
}

.widget__postlist {
  @include fs('postlist');
  list-style: none;
  margin: 0;
  padding: 0;
}

// -----------------------------------------------------------------------------
// Widget: Share Post
// -----------------------------------------------------------------------------

.shareButtonList {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: block;
    margin: 0 0 0.5em;
    overflow: hidden;
  }
}

.shareButton {
  border-radius: 0.2em;
  box-sizing: border-box;
  color: white;
  display: inline-block;
  font-size: 0.8em;
  min-width: 12em;
  padding: 0.5em 0.8em 0.6em;

  &:hover { color: white; }

  i::before,
  span {
    display: inline-block;
  }

  i::before {
    padding-right: 0.8em;
    position: relative;
    width: 1em;
  }

  span { font-weight: 600; }
}

.shareButton--twitter {
  background: #1b95e0;
  &:hover { background: #0c7abf; }
  i::before { top: 2px; }
}

.shareButton--facebook {
  background: #4661b0;
  &:hover { background: darken(#4661b0, 10%); }

  i::before {
    content: 'f';
    font-weight: 900;
    left: 0.4em;
  }
}

.shareButton--google {
  background: #dc4437;
  &:hover { background: darken(#dc4437, 10%); }
  i::before { top: 1px; }
}


// =============================================================================
// Global Footer
// =============================================================================

.globalFooter {
  @include fs('footer');
  background-color: map-get($colors, 'primary-text');
  background-image: url('/assets/img/bg.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  color: map-get($colors, 'primary-bg');
  padding: 4em 0;
  text-align: center;

  a {
    border-bottom: 1px map-get($colors, 'primary-text') dotted;
    color: inherit;

    &:hover {
      border-bottom: 1px lighten(map-get($colors, 'primary-link--hover'), 25%) dotted;
      color: lighten(map-get($colors, 'primary-link--hover'), 25%);
    }
  }
}

.globalFooter__links {
  padding: 0;

  li {
    display: inline-block;
    margin: 0 1em;
  }
}


// =============================================================================
// Global layout
// =============================================================================

.globalBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.globalContent {
  clear: both;
  flex-grow: 1; // as a flex item in globalBody, fill space
}

.globalDiv {
  margin: 0 1rem;
  padding: 3rem 0 0;

  @include mq('small') {
    margin: 0 2rem;
  }

  @include mq('large') {
    padding: 3rem 0;
  }

  @include mq('xlarge') {
    margin: 0 3rem;
  }
}


// -----------------------------------------------------------------------------
// Layout: one-column -- nav as grid
// -----------------------------------------------------------------------------

@include mq('small', 'large') {
  .globalContent {
    margin: 0 2rem;
  }

  .globalDiv {
    margin-left: auto;
    margin-right: auto;
    max-width: 46rem;
  }

  .globalNav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .globalNav > .widget {
    flex-basis: 48%;
    flex-grow: 1;
    margin-left: 1%;
    margin-right: 1%;
  }
}

// -----------------------------------------------------------------------------
// Layout: two-column -- nav as sidebar
// -----------------------------------------------------------------------------

@mixin navLeft {
  main { order: 2; }
}

@include mq('large') {
  @include navLeft;

  // two column layout
  .globalContent {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }

  main {
    flex-basis: 40rem;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .globalNav {
    border-top: 0;
    flex-basis: 0;
    flex-grow: 1; // let this go up to its basis size
    flex-shrink: 1; // let this shrink down to 1/2th of .globalContent
    margin-top: 1em; // align with baseline of .pageHeader__title
    min-width: 12em;
  }
}


// =============================================================================
// Post content
// =============================================================================

.image--left {
  float: left;
  margin-bottom: 1em;
  margin-right: 1em;
}


// =============================================================================
// Article
// =============================================================================

.article {
  margin: 0 auto 4em;

  @include mq('large') {
    margin-left: 0;
    margin-right: 0;
  }

  &:first-child { margin-top: 0; }
}


// -----------------------------------------------------------------------------
// Article Parts
// -----------------------------------------------------------------------------

.article__tags {
  margin: 0;
  text-align: right;
}

.article__tag {
  color: inherit;
  display: inline-block;
  font-weight: $fw__body;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  &:hover {
    color: map-get($colors, 'primary-link--hover');
  }

  .article__tags li:not(:last-child) &::after {
    content: ',';
  }
}


// -----------------------------------------------------------------------------
// Article divisions and per-division Article Parts overrides
// -----------------------------------------------------------------------------

.article__header {
  margin-bottom: 1em;
  max-width: $readable-header-width;
  position: relative;
}

.article__header__link {
  @extend %link--header;
  font-weight: 900;
}

.article__header__link--permalink {
  @include link-icon-before;
}

.article__title {
  @include fs('h2');
  margin: 0 0 0.2em;
  text-rendering: optimizeLegibility;
}

.article__subheader {
  @include fs('h4');
  font-weight: $fw__body;
  margin: 0 0 0.2em;
  text-rendering: optimizeLegibility;
}

.article__meta {
  @include fs('article__meta');
  align-items: flex-start;
  color: map-get($colors, 'primary-aside');
  display: flex;
  justify-content: space-between;
  margin: 0.2em 0.5em;

  time {
    border: 1px transparent solid;
    display: inline-block;
    white-space: nowrap;
  }

  > .article__tags {
    display: none;

    @include mq('medium') {
      display: inline-block;
      list-style: none;
      padding: 0;
      vertical-align: middle;

      > li {
        display: inline-block;
      }
    }
  }
}


.article__body {
  @include fs('article__body');
  line-height: 1.5;
  margin-left: 0.5em;
  max-width: $readable-body-width;

  h2 {
    @include fs('h3');
  }

  h3 {
    @include fs('h3');
    font-weight: $fw__body;
  }

  h4 {
    @include fs('h4');
  }

  h5 {
    @include fs('h4');
    font-weight: $fw__body;
  }

  a:hover {
    text-decoration: underline;
  }

  ol,
  ul {
    padding-left: 0;
  }

  li ol,
  li ul {
    padding-left: 1.2em;
  }
}

.article__footer {
  margin-top: 2em;
  max-width: $readable-header-width;

  > section {
    border-top: 2px solid map-get($colors, 'primary-divider');
    margin: 0 0 2em 0.5em;
    padding-top: 2em;

    h2:first-child {
      margin-top: 0;
    }
  }
}

.article__changelog {
  @include fs('block');

  dd {
    margin: 0.5em 0 0.5em 1.4em;
  }

  ul {
    margin: 0;
    padding: 0;
  }
}


// -----------------------------------------------------------------------------
// Article Variants and per-variant overrides
// -----------------------------------------------------------------------------

.article--excerpt .article__header {
  margin-bottom: 0.5em;
}

.article--excerpt .article__body {
  height: 5 * 1.5em; // # of lines x .article__body line-height
  overflow: hidden;
  position: relative;
}


// -----------------------------------------------------------------------------
// ArticleTile
// -----------------------------------------------------------------------------

.articleTile {
  margin: 0.5em 0 2em;

  > h2 {
    margin: 0 0 0.2em;

    > a { font-weight: $fw__strong; }
  }
}

.articleTile--titleOnly {
  margin: 0.5em 0 1em;
}


// =============================================================================
// Page, Post
// =============================================================================

.type--page,
.section--blog {
  .article {
    @include mq(null, 'large') {
      margin-bottom: 2em;
    }
  }

  .article__header {
    > .article__title {
      @include fs('h1');
    }

    > .article__subheader {
      @include fs('h3');
      font-weight: $fw__body;
    }
  }
}


// =============================================================================
// Page: Home
// Cascade sensitive -- needs to be after generic .type--page
// =============================================================================

.slug--home {
  .article__header {
    > .article__title {
      @include fs('h2');
    }

    > .article__subheader {
      @include fs('h4');
      font-weight: $fw__body;
    }
  }
}



// =============================================================================
// Print
// =============================================================================

@media print {
  .globalHeader,
  .globalNav,
  .article__footer {
    display: none;
  }

  .globalContent {
    margin-top: 2em;
  }
}


