{{> header }}
<body class="home">

	{{> siteHeader }}

<div class="globalBody">
  <header class="globalHeader">{{> bio }}</header>

  <div class="globalContent">
    <main class="globalDiv">
      <header class="pageHeader">
        <h2 class="pageHeader__title">Latest Posts</h2>
      </header>

      <article class="article article--excerpt" itemscope itemtype="http://schema.org/Article">

        <header class="article__header">
          <section class="article__meta">
            <time datetime="2015-05-16 19:00">November 12, 2015</time>
            <ul class="article__tags">
              <li><a href="#" class="article__tag">tag 1</a></li>
              <li><a href="#" class="article__tag">another</a></li>
              <li><a href="#" class="article__tag">a longer tag</a></li>
              <li><a href="#" class="article__tag">www</a></li>
              <li><a href="#" class="article__tag">javascript</a></li>
            </ul>
          </section>

          <h3 class="article__title"><a class="article__header__permalink" href="#" rel="bookmark">First very long Article title goes here in the extremely lengthy words</a></h3>

          <h4 class="article__subtitle">First very long Article title goes here in the extremely lengthy words</h4>
        </header>

        <section class="article__body">
          <p>Faucibus a maiores laborum cillum! Duis debitis vivamus aut proident
          accusantium nemo, dolorem suscipit! Reiciendis? Commodi! Volutpat
          possimus, tristique auctor tenetur venenatis ligula laoreet, tempora,
          nobis massa! Totam vel dolorem minus phasellus perspiciatis! Minim aliqua
          volutpat consequat possimus fugit accusantium, mauris repellat!
          Accusantium quo parturient? Molestiae voluptatum ducimus, optio commodo
          litora dis! Etiam tincidunt! In eiusmod! Litora parturient neque ullamco?
          Inceptos proident, minima, magnis tortor qui congue donec aliquet wisi
          rhoncus repellendus provident minima reprehenderit dicta, officia ab per
          tortor.
          </p>

          <h2>First level article section header</h2>

          <ol>
            <li>Ordered list item one</li>
            <li>Ordered list item 2</li>
            <li>Unordered list
              <ul>
                <li>Nested list item 1</li>
                <li>Nested list item 1</li>
                <li>Nested list item 1
                  <ul>
                    <li>Nested list item 1</li>
                    <li>Ordered list
                      <ol>
                      <li>Ordered list item 2</li>
                      <li>Nested list item 1</li>
                      <li>Ordered list item 2</li>
                      </ol>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>Ordered list item 2</li>
          </ol>

          <h3>Article section header level 2</h3>

          <ul>
            <li>Nested list item 1</li>
            <li>Ordered list
              <ol>
              <li>Ordered list item 2</li>
              <li>Nested list item 1</li>
              <li>Ordered list item 2</li>
              </ol>
            </li>
          </ul>

          <p>Elit facilis aut augue potenti excepturi ex vehicula imperdiet harum
          sunt expedita at voluptates massa, odit eget exercitationem adipisicing
          mus laboris, eros aliquam sagittis! Reprehenderit? Ducimus excepteur
          aperiam, dis occaecati? Sociosqu metus dis, metus! Cursus excepteur,
          omnis risus. Mollis fermentum, fermentum labore ullam leo voluptas
          eleifend doloribus molestias accumsan diamlorem aenean, euismod etiam
          mauris, ducimus ipsa in inventore, ultricies nihil deserunt minus fugiat!
          Quae quisque, nemo harum ridiculus sapien in ut reprehenderit, eaque
          tempus at aenean nisi, ea, nibh perferendis.
          </p>

          <pre><code class="js">    var a = 1;
    var b = 2;

    if (a == 1) {
      console.log(b);
    }</code></pre>

          <p>Reprehenderit? Ducimus excepteur aperiam, dis occaecati? Sociosqu
          metus dis, metus! Cursus excepteur, omnis risus. Mollis fermentum,
          fermentum labore ullam leo voluptas eleifend doloribus molestias accumsan
          diamlorem aenean, euismod etiam mauris, ducimus ipsa in inventore,
          ultricies nihil deserunt minus fugiat! Quae quisque, nemo harum ridiculus
          sapien in ut reprehenderit, eaque tempus at aenean nisi, ea, nibh
          perferendis. </p>

        </section>

        <footer class="article__footer">
        </footer>

      </article>

      <article class="article article--excerpt">

        <header class="article__header">
          <h3 class="article__title">Article title goes here</h3>

          <section class="article__meta">
            <time datetime="2015-05-16 19:00">November 12, 2015</time>
            <ul class="article__tags">
              <li><span class="article__tag">tag 1</span></li>
              <li><span class="article__tag">another</span></li>
              <li><span class="article__tag">a longer tag</span></li>
              <li><span class="article__tag">www</span></li>
              <li><span class="article__tag">javascript</span></li>
            </ul>
          </section>
        </header>

        <section class="article__body">
          <p>Faucibus a maiores laborum cillum! Duis debitis vivamus aut proident
          accusantium nemo, dolorem suscipit! Reiciendis? Commodi! Volutpat
          possimus, tristique auctor tenetur venenatis ligula laoreet, tempora,
          nobis massa! Totam vel dolorem minus phasellus perspiciatis! Minim aliqua
          volutpat consequat possimus fugit accusantium, mauris repellat!
          Accusantium quo parturient? Molestiae voluptatum ducimus, optio commodo
          litora dis! Etiam tincidunt! In eiusmod! Litora parturient neque ullamco?
          Inceptos proident, minima, magnis tortor qui congue donec aliquet wisi
          rhoncus repellendus provident minima reprehenderit dicta, officia ab per
          tortor.
          </p>

          <p>Elit facilis aut augue potenti excepturi ex vehicula imperdiet harum
          sunt expedita at voluptates massa, odit eget exercitationem adipisicing
          mus laboris, eros aliquam sagittis! Reprehenderit? Ducimus excepteur
          aperiam, dis occaecati? Sociosqu metus dis, metus! Cursus excepteur,
          omnis risus. Mollis fermentum, fermentum labore ullam leo voluptas
          eleifend doloribus molestias accumsan diamlorem aenean, euismod etiam
          mauris, ducimus ipsa in inventore, ultricies nihil deserunt minus fugiat!
          Quae quisque, nemo harum ridiculus sapien in ut reprehenderit, eaque
          tempus at aenean nisi, ea, nibh perferendis.
          </p>

          <pre><code class="js">    var a = 1;
    var b = 2;

    if (a == 1) {
      console.log(b);
    }</code></pre>

          <p>Reprehenderit? Ducimus excepteur aperiam, dis occaecati? Sociosqu
          metus dis, metus! Cursus excepteur, omnis risus. Mollis fermentum,
          fermentum labore ullam leo voluptas eleifend doloribus molestias accumsan
          diamlorem aenean, euismod etiam mauris, ducimus ipsa in inventore,
          ultricies nihil deserunt minus fugiat! Quae quisque, nemo harum ridiculus
          sapien in ut reprehenderit, eaque tempus at aenean nisi, ea, nibh
          perferendis. </p>

        </section>

        <footer class="article__footer">
        </footer>

      </article>


      <article class="article article--excerpt">

        <header class="article__header">
          <h3 class="article__title">Article title goes here</h3>

          <section class="article__meta">
            <time datetime="2015-05-16 19:00">November 12, 2015</time>
            <ul class="article__tags">
              <li><span class="article__tag">tag 1</span></li>
              <li><span class="article__tag">another</span></li>
              <li><span class="article__tag">a longer tag</span></li>
              <li><span class="article__tag">www</span></li>
              <li><span class="article__tag">javascript</span></li>
            </ul>
          </section>
        </header>

        <section class="article__body">
          <p>Faucibus a maiores laborum cillum! Duis debitis vivamus aut proident
          accusantium nemo, dolorem suscipit! Reiciendis? Commodi! Volutpat
          possimus, tristique auctor tenetur venenatis ligula laoreet, tempora,
          nobis massa! Totam vel dolorem minus phasellus perspiciatis! Minim aliqua
          volutpat consequat possimus fugit accusantium, mauris repellat!
          Accusantium quo parturient? Molestiae voluptatum ducimus, optio commodo
          litora dis! Etiam tincidunt! In eiusmod! Litora parturient neque ullamco?
          Inceptos proident, minima, magnis tortor qui congue donec aliquet wisi
          rhoncus repellendus provident minima reprehenderit dicta, officia ab per
          tortor.
          </p>

          <p>Elit facilis aut augue potenti excepturi ex vehicula imperdiet harum
          sunt expedita at voluptates massa, odit eget exercitationem adipisicing
          mus laboris, eros aliquam sagittis! Reprehenderit? Ducimus excepteur
          aperiam, dis occaecati? Sociosqu metus dis, metus! Cursus excepteur,
          omnis risus. Mollis fermentum, fermentum labore ullam leo voluptas
          eleifend doloribus molestias accumsan diamlorem aenean, euismod etiam
          mauris, ducimus ipsa in inventore, ultricies nihil deserunt minus fugiat!
          Quae quisque, nemo harum ridiculus sapien in ut reprehenderit, eaque
          tempus at aenean nisi, ea, nibh perferendis.
          </p>

          <pre><code class="js">    var a = 1;
    var b = 2;

    if (a == 1) {
      console.log(b);
    }</code></pre>

          <p>Reprehenderit? Ducimus excepteur aperiam, dis occaecati? Sociosqu
          metus dis, metus! Cursus excepteur, omnis risus. Mollis fermentum,
          fermentum labore ullam leo voluptas eleifend doloribus molestias accumsan
          diamlorem aenean, euismod etiam mauris, ducimus ipsa in inventore,
          ultricies nihil deserunt minus fugiat! Quae quisque, nemo harum ridiculus
          sapien in ut reprehenderit, eaque tempus at aenean nisi, ea, nibh
          perferendis. </p>

        </section>

        <footer class="article__footer">
        </footer>

      </article>


    </main>

	{{> nav }}

  </div>

	{{> siteFooter }}

</div>
</body>
</html>
