{{!
	Error page
}}
{{> globalStart }}
<article class="article">
	<header class="article__header">
		<h1 class="article__title">{{{ title }}}</h1>
		{{#if subheader}}<h2 class="article__subheader">{{{ subheader }}}</h2>{{/if}}
	</header>
	<div class="article__body">{{{ contents }}}</div>
</article>
{{> globalEnd }}
