{{> header }}
<body class="body--{{ section }} body--{{ type }}">
	{{> siteHeader }}
	<div class="globalBody">
		<header class="globalHeader">{{> bio }}</header>
		<div class="globalContent">
			<main class="globalDiv">
				{{> (main)}}
			</main>
			{{> nav }}
		</div>
		{{> siteFooter }}
	</div>
	{{> footer }}
</body>
</html>
