{{!
	JSDoc page
}}
{{> globalStart }}
<article class="jsdoc-module">
	<header class="article__header">
		<h1 class="article__title"><a rel="bookmark" class="article__header__link article__header__link--permalink" href="{{ permalink }}">{{{ title }}}</a></h1>
	</header>
	<section class="article__body">
		{{{ contents }}}{{! see hbs/jsdoc/module.hbs }}
	</section>
</article>
{{> globalEnd }}
