<article class="articleTile">
	<h2><a href="/{{ path }}/">{{{ title }}}</a></h2>
	<time datetime="{{ moment datePublished toISOString=null }}">{{ moment datePublished format="MMMM D, YYYY" }}</time>
</article>
