<section class="bio" itemprop="author publisher" itemscope itemtype="http://schema.org/Organization">
	<h2 class="bio__author">
		<span class="bio__author__name" itemprop="name">David O'Trakoun</span>
	</h2>
	<div class="bio__avatar" itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
		<img alt="Avatar" src="{{ avatarUrl }}" itemprop="url">
	</div>
	<ul class="bio__links">
		<li><a href="https://github.com/davidosomething" class="icon-github" itemprop="sameAs url"><span>GitHub</span></a></li>
		<li><a href="https://twitter.com/davidosomething" class="icon-twitter" itemprop="sameAs url"><span>Twitter</span></a></li>
		<li><a href="https://www.linkedin.com/in/davidosomething/" class="icon-linkedin" itemprop="sameAs url"><span>LinkedIn</span></a></li>
	</ul>
</section>
