<section class="bio" itemprop="author publisher" itemscope itemtype="http://schema.org/Organization">
	<h2 class="bio__author">
		<a class="bio__author__name" href="/" rel="me" itemprop="name">David O'Trakoun</span>
	</h2>
	<div class="bio__avatar" itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
		<a class="bio__avatar__link" href="/" rel="me"><img alt="Avatar" src="{{ avatarUrl }}" itemprop="url"></a>
	</div>
	<ul class="bio__links">
		<li><a href="https://github.com/davidosomething" class="icon-github" itemprop="sameAs url"><span>GitHub</span></a></li>
		<li><a href="https://plus.google.com/u/0/107476188736969594066" class="icon-google-plus3" itemprop="sameAs url"><span>Google+</span></a></li>
		<li><a href="https://twitter.com/davidosomething" class="icon-twitter-with-circle" itemprop="sameAs url"><span>Twitter</span></a></li>
		<li><a href="https://www.linkedin.com/in/davidosomething/" class="icon-linkedin-with-circle" itemprop="sameAs url"><span>LinkedIn</span></a></li>
	</ul>
</section>
