<section class="bio" itemprop="author publisher" itemscope itemtype="http://schema.org/Organization">
	<h2 class="bio__author">
		<a class="bio__author__name" href="/" rel="me" itemprop="name">{{ pkg.author.name }}</span>
	</h2>
	<div class="bio__avatar" itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
		<a class="bio__avatar__link" href="/" rel="me"><img alt="Avatar" src="{{ avatarUrl }}" height="80" width="80" itemprop="url"></a>
	</div>
	<ul class="bio__links">
		<li><a href="https://twitter.com/davidosomething" class="icon-twitter-with-circle" aria-label="Twitter" itemprop="sameAs url"><span>Twitter</span></a></li>
		<li><a href="https://github.com/davidosomething" class="icon-github" aria-label="GitHub" itemprop="sameAs url"><span>GitHub</span></a></li>
		<li><a href="https://www.linkedin.com/in/davidosomething/" class="icon-linkedin-with-circle" aria-label="LinkedIn" itemprop="sameAs url"><span>LinkedIn</span></a></li>
	</ul>
</section>
