			</main>
			{{> nav }}
		</div>
		<footer class="globalFooter">
			<p class="globalFooter__copyright">
				Copyright &copy;2016 <a href="mailto:me@davidosomething.com" rel="me">David O'Trakoun</a>
			</p>
		</footer>
	</div>
</body>
</html>
