			</main>
			{{> nav }}
		</div>
		<footer class="globalFooter">
			<div>
				<span class="globalFooter__copyright">
					Copyright &copy;2016 <a href="mailto:me@davidosomething.com" rel="me">David O'Trakoun</a>.
				</span>
				(<a rel="alternate" type="application/rss+xml" href="/rss.xml">RSS</a>)
			</div>
		</footer>
	</div>
</body>
</html>
