<!doctype html>
<html {{#if schema}}itemscope itemtype="{{ schema.itemtype }}"{{/if}} dir="ltr" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{> head__meta}}
	<title>davidosomething.com{{#if title}} | {{{ title }}}{{/if}}</title>
	<link rel="canonical" href="{{ permalink }}">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,700,900">
	<link rel="stylesheet" href="/assets/css/global.css">
	<script src="/assets/js/global.js" async></script>
</head>
