<nav class="globalDiv globalNav">
	{{#if widgets.sharePost     }}{{> widgets/sharePost     }}{{/if~}}
	{{~#if widgets.toc           }}{{> widgets/toc           }}{{/if~}}
	{{~#if widgets.aboutMe       }}{{> widgets/aboutMe       }}{{/if~}}
	{{~#if widgets.homeMorePosts }}{{> widgets/homeMorePosts }}{{/if~}}
	{{~#if widgets.latestPosts   }}{{> widgets/latestPosts   }}{{/if~}}
	{{~#if widgets.allPosts      }}{{> widgets/allPosts      }}{{/if~}}
	{{~#if widgets.jsdocMeta     }}{{> widgets/jsdocMeta     }}{{/if~}}
	{{~#if widgets.jsdocModules  }}{{> widgets/jsdocModules  }}{{/if~}}
	{{~#if widgets.tags          }}{{> widgets/tags          }}{{/if}}
</nav>
