<nav class="globalDiv globalNav" role="navigation">
	{{#if widgets.sharePost}}{{> widgets/sharePost }}{{/if}}
	{{#if widgets.toc}}{{> widgets/toc }}{{/if}}
	{{#if widgets.aboutMe}}{{> widgets/aboutMe }}{{/if}}
	{{#if widgets.latestPosts}}{{> widgets/latestPosts }}{{/if}}
	{{#if widgets.allPosts}}{{> widgets/allPosts }}{{/if}}
</nav>

