<nav class="globalDiv globalNav">
	<aside class="widget widget--latestPosts">
		<header class="widget__header">
			<h2 class="widget__header__title">Latest Posts</h2>
		</header>
		<ol class="widget--latestPosts__postlist">
			{{#each collections.latestPosts}}<li>{{> articleTile}}</li>{{/each}}
		</ol>
	</aside>
</nav>

