<nav class="globalDiv globalNav">
	{{#if widgets.sharePost     }}{{> widget-sharePost     }}{{/if~}}
	{{~#if widgets.toc           }}{{> widget-toc           }}{{/if~}}
	{{~#if widgets.aboutMe       }}{{> widget-aboutMe       }}{{/if~}}
	{{~#if widgets.homeMorePosts }}{{> widget-homeMorePosts }}{{/if~}}
	{{~#if widgets.latestPosts   }}{{> widget-latestPosts   }}{{/if~}}
	{{~#if widgets.allPosts      }}{{> widget-allPosts      }}{{/if~}}
	{{~#if widgets.tags          }}{{> widget-tags          }}{{/if}}
</nav>
