<header class="siteHeader">
	<div class="siteHeader__title"><a href="/" class="siteHeader__siteName">davidosomething.com</a>{{#if title}} | <a href="#main" class="siteHeader__pageTitle">{{{ title }}}</a>{{/if}}</div>
</header>
