<header class="siteHeader">
	<div class="siteHeader__title"><a href="/" class="siteHeader__siteName">davidosomething.com</a>{{#if title}} | <span class="siteHeader__pageTitle">{{{ title }}}</span>{{/if}}</div>
</header>
