{{! About Me widget }}
<aside class="widget widget--aboutMe">
	<header class="widget__header">
		<h2 class="widget__title">About me</h2>
	</header>
	<div class="widget__body">
		<p>I'm a web developer in New York City. I primarily work in JavaScript,
		and PHP; sometimes I dive into Python, Bash, and Lua. I'm a Vim and
		GNU/Linux user and enthusiast.</p>
		<p>Currently, I work for Elite Daily as their Senior Frontend Developer.
		I've held similar roles at Time Inc., Arnold NYC, and Arnold Worldwide in
		the past years.<br>
		I was an Adjunct Instructor at Boston University CDIA for a while,
		where I taught web development and WordPress stuff.<br>
		I used to freelance regularly, but now I prefer tinkering with open
		source.</p>
	</div>
</aside>
