{{! About Me widget }}
<aside class="widget widget--aboutMe">
  <header class="widget__header">
    <h2 class="widget__title">About me</h2>
  </header>
  <div class="widget__body">
    <p>
    I'm a web developer in New York City. I primarily work in JavaScript (node
    and React); sometimes I dive into Java, PHP, Python, Bash, and Lua. I'm
    a Vim and GNU/Linux user and enthusiast.</p>
    <p>I am currently, a Senior Software Engineer at Squarespace (but this
    blog is my own pet project). I've held similar roles at Elite
    Daily/Bustle, Time Inc., and Arnold NYC/Worldwide in the past
    years.<br>
    I was an Adjunct Instructor at Boston University CDIA for a while,
    where I taught web development and WordPress stuff.<br>
    I used to freelance regularly, but now I prefer tinkering with open
    source.</p>
  </div>
</aside>
